@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Jersey+10&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 0.9780287114845938) 0%,
    rgba(255, 0, 56, 0.908000700280112) 44%,
    rgba(2, 0, 36, 1) 100%
  );
}

* {
  box-sizing: border-box;
}
.title {
  font-family: "Sour Gummy", sans-serif;
  color: whitesmoke;
  font-size: 25px;
  margin-top: 2rem;
}
.slick-track {
  display: flex;
  gap: 20px;
}

.slick-slide .movie-img {
  width: 50%;
  height: 70%;
  display: inline;
}

.slick-slide img {
  border-radius: 15px;
}
.slick-next {
  right: -40px;
}
.container1 {
  position: relative;
  overflow: hidden;
}

.movie-img {
  transition: opacity 0.3s ease;
}
.overview {
  align-items: center;
}
figcaption.overview {
  width: 50%;
  height: 100%;
  position: absolute;
  border-radius: 15px;
  top: 0;
  left: 25%;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.9s ease;
  padding: 10px;
}
.container1:hover .movie-img {
  opacity: 0.3;
}

.container1:hover .overview {
  opacity: 1;
}
.slick-prev,
.slick-next {
  border-radius: 50%;
  width: 0px;
  z-index: 1;
  transition: opacity 0.3s ease;
  transform: translate(none);
  -webkit-transform: none;
}

.slick-prev {
  left: -43px;
}

.slick-next:before {
  color: white;
}
.slick-prev:before {
  color: white;
}

@media screen and (max-width: 480px) {
  * {
    box-sizing: border-box;
    margin-right: 4px;
  }

  .slick-slide .movie-img {
    justify-self: center;
  }
  figcaption.overview {
    display: none;
  }
  .slick-slide .movie-img {
    width: 70%;
  }
  .container1:hover .movie-img {
    opacity: 1;
  }
}
