@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Jersey+10&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

header {
  height: 18vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
header .svg-inline--fa {
  display: none;
}

nav {
  display: flex;
  gap: 2rem;
}

a {
  font-family: "Sour Grummy", sans-serif;
  text-decoration: none;
  color: whitesmoke;
}

header img {
  width: 130px;
  height: 130px;
}
.listHamburger {
  display: none;
}
@media screen and (max-width: 768px) {
  header .navHeader {
    display: none;
  }
  header svg {
    color: aliceblue;
  }
  header .svg-inline--fa {
    display: flex;
    height: 30px;
  }
  .listHamburger {
    display: none;
    color: aliceblue;
    position: absolute;
    top: 69px;
    right: 0px;
    padding: 1rem;
    z-index: 999;
    background: linear-gradient(0deg, rgb(41 3 17 / 80%) 0%, #000000a3);
    border-radius: 1rem;
    box-shadow: -4px 4px 15px rgba(0, 0, 0, 0.753);
    width: 26 vw;
  }

  .listHamburger.active {
    display: flex;
  }
  header {
    position: relative;
  }
  .listHamburger {
    flex-direction: column;
    padding: 25px;
  }
}

@media screen and (max-width: 320px) {
  header input {
    width: 115px;
  }
  .svg-inline--fa {
    margin: 0 1rem 0 2rem;
  }
}
