@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 0.9780287114845938) 0%,
    #0f270baa 44%,
    rgba(2, 0, 36, 1) 100%
  );
  color: #f2f5ea;
}

h1,
h2,
h3 {
  font-family: "Sour Gummy", sans-serif;
  justify-self: center;
}

p {
  font-family: "Lato", sans-serif;
}
.watchlistTitle {
  grid-column: span 3;
}
.movieContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.movieList {
  width: 90%;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 20px;
}

.movieList img {
  width: 100%;
  z-index: 1;
  position: relative;
  transition: filter 0.5s;
  border-radius: 15px;
}

.movieList:hover img {
  filter: brightness(30%);
}

.movie-content {
  position: relative;
  display: flex;
  justify-content: center;
}

.movie-hover-text {
  position: absolute;
  top: 0;
  width: 80%;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}

.movie-hover-text h2 {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
.FavIcone {
  z-index: -100;
  border-radius: 40%;
  border: 0px solid;
  align-self: flex-end;
  margin: auto;
  margin-top: 0.5rem;
}

.movie-hover-text p {
  text-align: left;
}

.movieList:hover .movie-hover-text {
  opacity: 1;
  z-index: 2;
  transition: 1s;
}

.search {
  width: 40%;
  height: 40px;
  margin-left: 10px;
  border-radius: 10px;
  border: 0px solid;
  text-align: center;
  margin-bottom: 2rem;
  box-shadow: 1px 1px 5px #0000004f;
}

label {
  margin-top: 1rem;
  color: black;
}

.searchBarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .movie-hover-text p {
    font-size: 1rem;
  }
  .movie-hover-text h2 {
    font-size: 1.5rem;
  }
  .FavIcone {
    margin-top: 1rem;
  }
  .FavIcone img {
    width: 50%;
    height: 50%;
  }
}

@media screen and (max-width: 800px) {
  .movie-hover-text {
    align-items: center;
  }
  .movie-hover-text p {
    font-size: 0.8rem;
  }
  .movie-hover-text h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .movieContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .movieList img {
    width: 100%;
  }
  .movie-hover-text p {
    font-size: 0.5rem;
  }
  .movie-hover-text h2 {
    font-size: 0.7rem;
  }
  .FavIcone img {
    width: 50%;
    height: 50%;
  }
  .search {
    width: 80%;
  }
}
